<%= provide(:active, "container") %>
<%= @profile.name %>
<% if @profile.messages.empty? %>
  <p>No Messages</p>
<% else %>
  <% @messages.each do |message| %>
    <%= message.content %><br>
  <% end %>
<% end %>  
