<div id='profile-banner' class='nav-wrapper blue'>
  <div class='profile-pic container'>
    <div class="row">
      <div class="col s12 m3">
        <% if @profile.pic.attached? %>
          <div style="width:150px; height:auto; position: absolute;">
            <%= image_tag @profile.avatar, :class => 'circle', :style => "position:absolute;" %>
          </div>
        <% end %>
      </div>
      <div class="col s12 m9">
        <% if @profile.id != current_user.id %>
          <% if current_user.profile.likes.include?(@profile.id) %>
            <%= form_for @profile, url: {action: "update_likes", controller: "profiles", params: {:id => @profile.id}}, :method => :POST do |f| %>
              <%= f.submit "I Like This" %>
              <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
