<%= provide(:active, "container") %>
<%= render partial: 'partials/search' %>

<div class='row'>
  <% @profiles.each do |p| %>
    <%= render partial: 'partials/card', locals: {profile: p} %>
  <% end %>
</div>
