<h4>My Matches</h4>
<% if @my_likes.empty? || @profiles.nil? %>
  <p>Brrrr its chilly in here</p>
<% else %>
  <% @my_likes.each do |like| %>
    <% @profiles.each do |profile| %>
      <% if like.id == profile.id %>
        <p>You've matched with <%= profile.name %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
