<div id='profile-banner' class='nav-wrapper blue'>
  <div class=' profile-pic container'>
    <% if @profile.pic.attached? %>
    <div style="width:150px; height:auto">
      <%= image_tag @profile.pic.variant(resize: "150x150!"), :class => 'circle' %>
    </div>
    <% end %>
  </div>
  <div class='container'>
    <div class='bio-box'>
      <h4 class='black-text'>A little about me...</h4>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
      <p class="black-text">Excepteur non et elit laborum veniam aliquip do commodo ut officia proident non est incididunt culpa excepteur. Exercitation qui proident ea nulla adipisicing eu commodo. Lorem nulla ipsum eu aliqua Lorem reprehenderit deserunt anim quis in incididunt amet est consectetur.</p>
    </div>
  </div>
</div>
