<%= provide(:active, "container") %>
<%= render partial: 'partials/search' %>

<div class='row'>
  <%if @profiles.nil? || @profiles.empty? %>
    <p>We couldn't find anyone who is interested in that :( </p>
  <% else %>
    <% @profiles.each do |p| %>
      <% if current_user.profile == nil || profile.id != current_user.profile.id %>
        <%= render partial: 'partials/card', locals: {profile: p} %>
      <% end %>
    <% end %>
  <% end %>
</div>
