<h4>My Matches</h4>
<% if @profiles.empty? || @profiles.length == 0 %>
  <p>Brrrr its chilly in here.</p>
<% else %>
  <% @my_likes.each do |like| %>
    <% @profiles.each do |profile| %>
      <% if like.id == profile.id %>
        <p>You've matched with <%= profile.name %> | <%= link_to 'Make a Date', new_profile_payment_path %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
