<h1>About</h1>
<p class="flow-text">Ruby on Rails project to design, build and deploy a two sided marketplace. Catering to two parties that our application has brought togeter. The aim of the project was mainly database focused. Hence the low level design elements</p>

<%= link_to "Rubrick", "https://coderacademy.instructure.com/courses/162/assignments/734" %>
