<h4>New Payment</h4>
<p>A one off payment of $99.99 to connect with that sexy beast.</p>

<p>
  <button>Take my Credit Card!</button>
</p>

<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('<%= ENV['STRIPE_PUBLIC'] %>');

  function goToCheckout() {
    stripe.redirectToCheckout({
      sessionId: '<%= @stripe_checkout_session.id %>',
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  }
  var button = document.querySelector('button');
  button.addEventListener('click', goToCheckout)
</script>
