@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// div {
//   border: solid 1px black;
// }

.profile-pic {
  padding-left: 100px;
}

#profile-banner {
  height: 100px;
}

.bio-box {
  width: 500px;
  min-height: 200px; // changed to avoid scrolling every time I refresh page for carousel testing
  margin-top: 25px;
}

.superduperleft {
  clear: left;
}

.test {
  color: red;
}
.carousel img {
  height: 100%;
  margin: auto;

}

.material-placeholder {
  height: 100%;
  display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.modal {
  display: flex;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  color: black;
  padding: 0;
  margin: auto;
  //height: 100%;
  //display: ;
  //max-height: 100%!important;
  width: 700px;
  z-index: 1000;
}

.hide-modal {
  display: none;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#testbut {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;

}