@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

div {
  border: solid 1px black;
}

.profile-pic {
  padding-left: 100px;
}

#profile-banner {
  height: 100px;
}

.bio-box {
  width: 500px;
  min-height: 500px;
  padding-top: 75px;
}
