<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Rails Assessment</h5>
      <p class="grey-text text-lighten-4">Dating application made by Aaron Jones & Glen Johnson</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Static Links</h5>
      <ul>
        <li><%= link_to "About", about_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to "Contact", contact_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to "Testimonies", testimonies_path, class: "grey-text text-lighten-3" %></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2019 Copyright Text
  </div>
</div>
