<nav>
  <div class="nav-wrapper blue">
      <div class="container">
      <%= link_to "Root Path", root_path, :class => "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Create my Profile", new_profile_path %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
